table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.coverImage{
  width:150px;
  margin-top:3px;

}

.actions-buttons{
  width: 40%;
}

.actions-button1{
  height:2rem;
  margin-right: 0.4rem;
}

.actions-button2{

  height:2rem;

}


  .container-coverImage {
    display: none;
  }

