<div class="container">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmitAddVideogame()"
    class="full-form"
  >
    <p>Title:</p>
    <input type="text" placeholder="Title" formControlName="title" />
    <p>Category:</p>
    <select formControlName="category">
      <option value="" disabled>Scegli Categorie</option>
      <option *ngFor="let category of categories">
        {{ category.name }}
      </option>
    </select>

    <p>releasedate:</p>
    <input type="date" formControlName="releaseDate" />
    <p>genre:</p>
    <input type="text" placeholder="Genre" formControlName="genre" />
    <p>softwareHouse:</p>
    <input
      type="text"
      placeholder="Software House"
      formControlName="softwareHouse"
    />
    <p>publisher:</p>
    <input type="text" placeholder="Publisher" formControlName="publisher" />
    <p>Number of players:</p>
    <input
      type="number"
      placeholder="Number of players"
      formControlName="numberOfPlayers"
    />
    <h2>languages:</h2>
    <div formGroupName="languages">
      <span>Voice</span><input type="button" (click)="addVoice()" value="+" />
      <div
        formArrayName="voice"
        *ngFor="let singleVoice of voiceFormArray.controls; let i = index"
      >
        <input
          type="text"
          placeholder="Voice language {{ i + 1 }}"
          [formControlName]="i"
        /><input type="button" (click)="deleteVoice(i)" value="-" />
      </div>
      <span>Text</span><input type="button" (click)="addText()" value="+" />
      <div
        formArrayName="text"
        *ngFor="let singleText of textFormArray.controls; let i = index"
      >
        <input
          type="text"
          placeholder="Text language {{ i + 1 }}"
          [formControlName]="i"
        /><input type="button" (click)="deleteText(i)" value="-" />
      </div>
    </div>

    <p>Cover image url</p>
    <input type="text" placeholder="URL Image" formControlName="coverImage" />

    <button type="submit">Add Videogame</button>
  </form>
</div>
