.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4oUB64Jp4eHuFNeH8Qiwd-mBYq5lzyNbiaw&usqp=CAU");
 */
  background-color: blueviolet;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-radius: 30px;
}
.full-form {
  margin-left: 10rem;
  padding: 3rem 0px;
}
p,
h2,
span {
  color: wheat;
}
/* input {
  border-radius: 10px;
} */
