<div class="container">
  <h2 mat-dialog-title>Add News</h2>
  <div mat-dialog-content class="content">
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput placeholder="Title" />
        <mat-icon matSuffix>title</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" placeholder="category">
          <mat-option
            value="{{ category.name }}"
            *ngFor="let category of categories"
          >
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cover Image</mat-label>
        <input formControlName="imageUrl" matInput placeholder="Image URL" />
        <mat-icon matSuffix>add_a_photo</mat-icon>
      </mat-form-field>

      <mat-form-field class="content">
        <mat-label>Content</mat-label>
        <textarea matInput placeholder="Edit a content..."></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-form-field">
        <mat-label>Publication Date</mat-label>
        <input
          formControlName="publicationDate"
          matInput
          [matDatepicker]="datepicker"
        />

        <mat-datepicker-toggle
          matIconSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>
              Apply
            </button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Publisher</mat-label>
        <input formControlName="authorName" matInput placeholder="Publisher" />
        <mat-icon matSuffix>text_fields</mat-icon>
      </mat-form-field>

      <!-- <h3>Tags</h3>
        <div formArrayName="tags" 
        *ngFor="let singleTag of tagsFormArray.controls; let i = index"> -->

      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Tags</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter fruits">
          <mat-chip-row
            *ngFor="let singleTag of tagsFormArray.controls; let i = index"
            (removed)="remove(i)"
            [editable]="true"
            (edited)="edit(i, $event)"
            [aria-description]="'press enter to edit ' + singleTag"
          >
            {{ singleTag }}
            <button matChipRemove [attr.aria-label]="'remove ' + singleTag">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input
            placeholder="New tag..."
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-grid>
      </mat-form-field>
      <!--  </div> -->

      <!-- <div class="text" formArrayName="text"
               *ngFor="let singleText of textFormArray.controls; let i = index">
            <mat-form-field appearance="outline">
              <mat-label>Text</mat-label>
              <input [formControlName]="i" matInput placeholder="Text">
              <button type="button" mat-raised-button matSuffix class="button-delete" (click)="deleteText(i)">X</button>
            </mat-form-field>
          </div>
  
          <button type="button" color="primary" mat-raised-button class="button-add" (click)="addText()">ADD TEXT</button>
        </div> -->
    </form>
  </div>

  <mat-dialog-actions [align]="'end'">
    <button color="warn" mat-dialog-close mat-raised-button>Close</button>
    <button color="primary" (click)="onSubmitAddSingleNews()" mat-raised-button>
      Add News
    </button>
  </mat-dialog-actions>
</div>
