/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.videogame-dialog {
  width: 35%;
}
.view-videogame-dialog {
  width: 60%;
}

.view-review-dialog {
  width: 800px!important;
  max-height: 80%!important;
}

@media only screen and (max-width: 1100px) {
  .videogame-dialog {
    width: 100%!important;
  }

  .view-videogame-dialog {
    width: 100%;
  }


  .view-review-dialog {
    width: 100%!important;
    max-height: 100%!important;
  }

}



